
@font-face {
    font-family: "All Over Again";
    src: url('../fonts/aoa/alloveragain.ttf') format("truetype"), url('../fonts/aoa/alloveragain.woff') format('woff'); 
}

@font-face {
    font-family: "Linux Libertine";
    src: url('../fonts/ll/LinLibertine_Rah.ttf') format("truetype"), url('../fonts/ll/LinLibertine_Rah.woff') format("woff");
}

@font-face {
    font-family: "Franklin Gothic Demi Cond"; 
    src: url('../fonts/fgdc/FRADMCN.ttf') format("truetype"), url('../fonts/fgdc/FRADMCN.woff') format("truetype");
}

@font-face {
    font-family: "Franklin Gothic Medium Cond"; 
    src: url('../fonts/fgmc/FRAMDCN.ttf') format("truetype"), url('../fonts/fgmc/FRAMDCN.woff') format("woff");
}

@font-face {
    font-family: "Franklin Gothik Book"; 
    src: url('../fonts/fgb/FRABK.ttf') format("truetype"), url('../fonts/fgb/FRABK.woff') format("woff");
}


body {
    width: 100%;
    height: 100%;
	font-family: "Linux Libertine","Times New Roman",serif;
    color: #000;
    font-size: 16px;
    
    -ms-overflow-style: scrollbar;
}

html {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    /* margin: 0 0 35px; */
    text-transform: uppercase;
    /* font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif; */
	font-family: "Linux Libertine","Times New Roman",serif;   /* actually already set by body */
    /* font-weight: 700; */
    
    /* letter-spacing: 1px; */    
    letter-spacing: 0.03em;    
}

/* ram */
h1 {
    font-size: 50px;
}

/* ram define text-transform: none; as standard, overwrite for index.html */
.biography h1, .biography h2, .biography h3, .biography h4, .biography h5, .biography h6 {
	text-transform: none;	
}

.biography h1 {
	margin-top: 0;
	font-family: "Franklin Gothic Medium Cond",Helvetica,sans-serif;
	color: inherit;
	line-height: .63; /* TODO: make normal and rel shift, otherwise by small no gap if 2 lines */
}

.biography h2 {
    color: #f00;
    margin-bottom: 1em;
}
 

/* end ram */


p {
    margin: 0 0 25px;
    /* font-size: 18px; */
    font-size: 16px;
    line-height: 1.5;
}

@media(min-width:767px) {
    p {
		margin: 0 0 35px;
        /* font-size: 20px; */
        font-size: 18px;
        /* line-height: 1.6; */
    	line-height: 24px;
    }
}

a {	
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    
	font-family: "Franklin Gothik Book",Helvetica,sans-serif; /* ram */
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
	text-transform: uppercase; /* TODO: remove it from default, use ad-link */
		
    color: inherit;
}

a.ad-link {
	text-transform: uppercase;			
}

a.ad-follow-me {
}

a.ad-follow-me:after {
	content: ' >';
	font-weight: bolder;
}


a.ad-link-focus,
a:hover,
a:focus {
    text-decoration: none; 
	color: red; /* pal: rosso */ 
}

.light {
    font-weight: 400;
}

/* TODO .navbar-custom -> navbar-default http://getbootstrap.com/customize/#less-variables-section */

.navbar-custom {
    margin-bottom: 0;
    /* border-bottom: 1px solid rgba(255,255,255,.3); */
    text-transform: uppercase;
    font-family: "Franklin Gothic Demi Cond",Helvetica,Arial,sans-serif;
    background-color: #fff; /* pal: bianco */ /* explicit non transparen background = body background */
    
}

/* ram */
.affix {
	position: fixed;
	width: 100%;
    top: 0;
    z-index: 1030;
}

.navbar-custom .navbar-brand {
    font-weight: 700;
}

.navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}

.navbar-custom a {
    /* color: #fff; */
}

.navbar-custom .nav li.active {
    /* outline: none; */
/*    background-color: rgba(255,255,255,.3); */
    /* background-color: green;  TOTO: make shift */
}

.navbar-custom .nav li.active a:before {
	display: block;
	content: '\00A0';
	height: 7px;
}

.navbar-custom .nav li a {
	-webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
    color: black; /* pal Nero */
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li.active a,
.navbar-custom .nav li.active a:focus,
.navbar-custom .nav li a.active {
    outline: 0;
/*    background-color: rgba(255,255,255,.3); */
	background-color: inherit;  /* ram */
	color: #ff4d33; /* pal: orange */
	font-weight: bold;
}

.navbar-custom .nav li a:focus { /* ram */
	/* border: 1px dotted #EEE; */ /* TODO make focused visible */
	color: inherit; 
}

@media(min-width:767px) {
    .navbar {
        /* padding: 20px 0; */
        /* padding: 23vh 0; *//*  ram */ 
        border-bottom: 0;
        letter-spacing: 1px;
        /* background: 0 0; ram */
        -webkit-transition: background .2s ease-in-out,padding .3s ease-in-out;
        -moz-transition: background .2s ease-in-out,padding .3s ease-in-out;
        transition: background .2s ease-in-out,padding .3s ease-in-out; 
    }

	/* normal on top (except first page) */
	/*
    .top-nav-collapse { 
        padding: 0;
        / * background-color: #000; * /
        background-color: #FFF;
    }

    .navbar-custom.top-nav-collapse {
        border-bottom: 1px solid rgba(255,255,255,.3);
    }
    */
}

.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
/*    text-align: center;
/    color: #358;
/    color: #fff;
/    background: url(../img/intro-bg.jpg) no-repeat bottom center scroll;
/    background-color: #000; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}

.intro .intro-body .brand-heading {
    font-size: 40px;
}

.intro .intro-body .intro-text {
    font-size: 18px;
}

@media(min-width:767px) {
    .intro {
        height: 100%;
        padding: 0;
    }

    .intro .intro-body .brand-heading {
        font-size: 100px;
    }

    .intro .intro-body .intro-text {
        font-size: 25px;
    }
}


/* begin ram */
.ad-list-inline {
	text-transform: uppercase;
}

ul.ad-list-inline li {
	border-right: 1px solid black;	
}

ul.ad-list-inline li:last-child {
	border-right: none;
}

ul.ad-list-inline li a {
	color: inherit;
	font-family: inherit;
	padding: 0px 0.5pt;
	display: block;
	text-decoration: none;
}

ul.ad-list-inline li a:hover,
ul.ad-list-inline li a:focus {
	color: #f00; /* pal: rosso */	
}


/* TODO: Adaptive for mobile */
blockquote.adpal-arancione,
blockquote.adpal-rosso,
blockquote.adpal-rosa,
blockquote.adpal-grigio,
blockquote.adpal-bianco,
blockquote.adpal-nero,
blockquote {
	color: inherit;
	font-family: "Franklin Gothic Medium Cond",Helvetica,sans-serif; 	
    border: 0;
	font-size: 30pt;
	padding: 0;
	margin: 0 auto;	
	margin-top: 10px;
	width: 90%; /* TODO ram : remove this widht*/
}

blockquote:before {
    font-family: "All Over Again",serif;
    content: "\201C";
    font-size: 180px;
    float: left;
    position: relative; 
    top: .25em;
    left: -5px;
}


.adpal-arancione,
blockquote.adpal-arancione:before {
    color: #ff4d33; /* pal: arancione */
}

.adpal-rosso,
blockquote.adpal-rosso:before {
    color: #f00; /* pal: rosso */
}

.adpal-rosa,
blockquote.adpal-rosa:before {
    color: #fc0099; /* pal: rosa */
}

.adpal-grigio,
blockquote.adpal-grigio:before {
    color: #333333; /* pal: grigio */	
}

.adpal-bianco,
blockquote.adpal-bianco:before {
    color: #fFF; /* pal: bianco */	
}

.adpal-nero,
blockquote.adpal-nero:before {
    color: #000; /* pal: nero */	
}


blockquote footer {
	text-align: right;
	padding: 0;
	color: inherit;
}

blockquote.ad-footprint-orange footer:before, blockquote.ad-footprint-red footer:before {
	content: "\2014\20";
}

.ad-paninis {
	font-size: 18px;
	margin-bottom: 2em;
	letter-spacing: 0.03em;
	line-height: 1.1;
}

.ad-paninis .ad-caption-name, .ad-paninis .ad-caption-prof {
	padding: 0;
	margin-left: .2em;
}

.ad-paninis .ad-caption-name {
	margin-top: .6em;
}

.ad-paninis .ad-caption-name a {
	font-size: 20px;
	font-family: "Franklin Gothic Medium Cond",Helvetica,sans-serif;
	text-transform: none;
	text-decoration: none;
}

.ad-paninis .ad-caption-prof {
	/* font-family: inherit; / * actually already set by body */
	font-family: /* "Linux Libertine", */ "Times New Roman",serif; /* ram -> design mistake */
}

hr {
	border-color: black;
}
.container hr {
	width: 100%;
}	
@media (min-width: 768px) {
  .container-fluid hr {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container-fluid hr {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container-fluid hr {
    width: 1170px;
  }
}


.container form {
	font-family: "Franklin Gothik Book",Helvetica,sans-serif; 
}
  
.ad-artist-photo {
	margin-bottom: 2em;
} 

/* TODO use styled, make background slitly transparent, http://css-tricks.com/rgba-browser-support/ */
#language-menu {
	position: relative
}

nav.ad-language-menu {
	position: fixed; 
	right: 0; 
	top: 3em; 
	width: 13ex; 
	z-index: 11032;	
}

nav.ad-language-menu ul {
 	color: #fff; 			/* pal: Bianco */ 
 	text-transform: uppercase;
 	list-style-type: none;
}

nav.ad-language-menu ul li {
	padding-left: 1ex;	 
	width: 100%;
	font-size: 120%;
	line-height: 1.9;
	margin-left: auto; 
	margin-right: 0;
	box-shadow: 3px 3px 3px grey;
	background: rgb(255, 0, 0); 			/* pal: Rosso */ 
}

nav.ad-language-menu ul li[lang] {
	background: rgb(252, 0, 153); 			/* pal: Rosa */
	width: 70%; 
	padding-left: 0;	/* set padding-left: 1ex; back in nested <a> to make the whole area clickable */ 
}

nav.ad-language-menu ul li[lang]:hover, 
nav.ad-language-menu ul li[lang]:active {
	width: 85%;
	
    -webkit-transition: width .2s ease-in-out;
    -moz-transition: width .2s ease-in-out;
    transition: width .2s ease-in-out;
}

nav.ad-language-menu ul li[lang] a {
	font-family: "Linux Libertine","Times New Roman",serif;
	padding-left: 1ex;	 
	color: inherit;
	display: block;
	width: 100%
}

/* end ram */

@-webkit-keyframes pulse {    
    0 {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {    
    0 {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

header img.logo {
	margin-top: 1em;
}

.content-section {
   /* padding-top: 100px; */ 
   padding-top: 40px; /* ram  */ 	 
   /*  min-height: 100%; ram  */
}

.kontakt-section h1 { 
	margin-bottom: 1.2em;
}

/* .download-section { */
.kontakt-section {
    width: 100%;
    padding: 50px 0;
    color: #000; /* pal Nero */
    background: url(../img/bg/biel-bienne_bw.png) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.kontakt-section img.logo {
	margin-bottom: .5em;
	width: 14ch;
}

.kontakt-section address a { /* TODO: actually make it normal, but ad-link is uppercase */
	text-transform: none;
}

@media(min-width:767px) {
    .content-section {
/*        padding-top: 250px; */
	    padding-top: 30px; /* ram  */ 	 
		min-height: 100%;
		/* min-height: auto; */
    }

	.kontakt-section {
	    padding: 15% 0;
	}
}

.btn {
    text-transform: uppercase;
    /* font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif; */
    font-family: "Franklin Gothic Medium Cond",Helvetica,sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-default {
	border: 1px solid black;  /* pal: nero */ 
    color: white;	/* pal bianco */ 
    background-color: #333333; /* pal grigio */ /* fallback */ 
    background-color: rgba(0,0,0,.5);  /* pal nero */ 
}

.btn-default:hover,
.btn-default:focus {
/*    border: 1px solid #219ab3; */
    border: 1px solid black;
    outline: 0;
    color:  #333333; /* pal grigio */
    background-color: #fff; /* pal bianco */ /* fallback */
        background-color: rgba(255,255,255,.5);  /* pal bianco */ 
    
}

/* ram
ul.banner-social-buttons {
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    ul.banner-social-buttons li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons li:last-child {
        margin-bottom: 0;
    }
}
*/

footer {
    padding: 50px 0;
}

footer p {
    margin: 0;
}

::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

body {
    /* webkit-tap-highlight-color: rgba(255,255,255,.2); */ /* TODO: find out, this is for Safari on iPhone */
}

.html5 a {
	display: inline-block;
}


.debug {
	display: none;
}

.html5 .html5logo img {
	width: 50px;
	height: auto;
}

.html5 .css3logo {
	position: relative;
    left: -13px;
    top: 7px;	
}
.html5 .css3logo img {
	width: 18px; 
	height: auto;
	vertical-align: middle;
}
