@font-face {
    font-family: "Linux Libertine";
    src: url('../fonts/ll/LinLibertine_Rah.ttf') format("truetype"), url('../fonts/ll/LinLibertine_Rah.woff') format("woff");
}

@font-face {
    font-family: "Franklin Gothic Medium Cond";
    src: url('../fonts/fgmc/FRAMDCN.ttf') format("truetype"), url('../fonts/fgmc/FRAMDCN.woff') format("woff");
}

@font-face {
    font-family: "Franklin Gothik Book";
    src: url('../fonts/fgb/FRABK.ttf') format("truetype"), url('../fonts/fgb/FRABK.woff') format("woff");
}

@import url(http://fonts.googleapis.com/css?family=Oswald);
body {
    width: 100%;
    font-family: "Linux Libertine", "Times New Roman", serif;
    color: #000;
    font-size: 16px;
    -ms-overflow-style: scrollbar;
    position: relative;
    overflow: scroll;
}

html {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: "Linux Libertine", "Times New Roman", serif;  /* actually already set by body */
    letter-spacing: 0.03em;
}

h1 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px; /* == navbar width */
}

.biography h1,
.biography h2,
.biography h3,
.biography h4,
.biography h5,
.biography h6 {
    text-transform: none;
}

.biography h1 {
    margin-top: 0;
    font-family: 'Oswald', sans-serif;
    font-size: 48px;
    color: inherit;
}

.biography h2 {
    color: #f00;
    margin-bottom: 1em;
}

p {
    margin: 0 0 25px;
    font-size: 16px;
    line-height: 1.5;
}

@media(min-width:767px) {
    p {
        margin: 0 0 35px;
        font-size: 18px;
        line-height: 24px;
    }
}

a {
    font-family: "Franklin Gothik Book", Helvetica, sans-serif;
    color: inherit;
	-webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a.ad-link {
    text-transform: uppercase;
}

a.ad-follow-me:after {
    content: ' >';
    font-weight: bolder;
}

a.ad-link-focus,
a:hover,
a:focus {
    text-decoration: none;
    color: red;  /* pal: rosso */
}

.light {
    font-weight: 400;
}

.navbar-custom {
    margin-bottom: 0;
    text-transform: uppercase;
    font-family: "Franklin Gothic Medium Cond", Helvetica, sans-serif;
    background-color: #fff;  /* pal: bianco */    /* explicit non transparen background = body background */
}

.navbar-main-collapse {
    width: 45%;
    margin-left: auto;
}

.in ul.nav li {
    border-bottom: 1px solid #333333;    /* pal Grigio */
}

.in ul.nav li:last-child {
    border-bottom: none;
}

@media(min-width:767px) {
    .navbar-main-collapse {
        border-style: none;
        margin-right: auto;
    }
    .in ul.nav li {
        border-bottom: none;
    }
}

.affix {
    width: 100%;
    top: 0;
    z-index: 1030;
}

.navbar-custom .navbar-brand {
    font-weight: 700;
}

.navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}

.navbar-custom .nav li.active a:before {
    display: block;
    content: '\00A0';
    height: 7px;
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
    color: black; /* pal Nero */
    font-family: inherit;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li.active a,
.navbar-custom .nav li.active a:focus,
.navbar-custom .nav li a.active {
    outline: 0;
    background-color: inherit;
    color: #ff4d33;    /* pal: orange */
}

.navbar-custom .nav li a:focus {
    color: inherit;
}

@media(min-width:767px) {
    .navbar {
        padding: 1em 0;
        border-bottom: 0;
        letter-spacing: 1px;
        -webkit-transition: background .2s ease-in-out, padding .3s ease-in-out;
        -moz-transition: background .2s ease-in-out, padding .3s ease-in-out;
        transition: background .2s ease-in-out, padding .3s ease-in-out;
    }
}

@media(min-width:767px) {
    .intro {
        height: 100%;
        padding: 0;
    }
    .intro .intro-body .brand-heading {
        font-size: 100px;
    }
    .intro .intro-body .intro-text {
        font-size: 25px;
    }
}
/* begin ram */

.ad-list-inline {
    text-transform: uppercase;
}

ul.ad-list-inline li {
    border-right: 1px solid black;
}

ul.ad-list-inline li:last-child {
    border-right: none;
}

ul.ad-list-inline li a {
    color: inherit;
    font-family: inherit;
    padding: 0px 1.2ch;
    display: block;
    text-decoration: none;
    line-height: 1;
}

ul.ad-list-inline li a:hover,
ul.ad-list-inline li a:focus {
    color: #f00; /* pal: rosso */
}

blockquote.adpal-arancione,
blockquote.adpal-rosso,
blockquote.adpal-rosa,
blockquote.adpal-grigio,
blockquote.adpal-bianco,
blockquote.adpal-nero,
blockquote,
blockquote p {
    color: inherit;
    font-family: "Franklin Gothic Medium Cond", Helvetica, sans-serif;
    border: 0;
    font-size: 16pt;
    padding: 0;
    margin: 0 auto;
    margin-top: 1.4em;
    margin-bottom: 40px;
}

blockquote {
    margin: 0;
    padding-left: 50px!important;
}

blockquote span.quote-wrapper {
    margin-left: -50px!important;
    float: left;
}

img.quote {
    width: 50px;
    height: auto;
}

blockquote p {
    line-height: 1.1;
    margin: initial;
    padding: initial;
    font-family: 'Oswald', sans-serif;
    font-size: 38px;
    line-height: 56px;
}

@media(min-width:767px) {
    blockquote.adpal-arancione, blockquote.adpal-rosso, blockquote.adpal-rosa, blockquote.adpal-grigio, blockquote.adpal-bianco, blockquote.adpal-nero, blockquote, blockquote p {
        color: inherit;
    }
    blockquote {
        margin: 0;
        padding-left: 140px!important;
    }
    blockquote span.quote-wrapper {
        float: left;
        margin-left: -140px!important;
    }
    img.quote {
        width: 120px;
        height: auto;
    }
    blockquote p {
        padding-left: 0;
    }
}

.adpal-arancione,
blockquote.adpal-arancione:before {
    color: #ff4d33;   /* pal: arancione */
}

.adpal-rosso,
blockquote.adpal-rosso:before {
    color: #f00;    /* pal: rosso */
}

.adpal-rosa,
blockquote.adpal-rosa:before {
    color: #fc0099;    /* pal: rosa */
}

.adpal-grigio,
blockquote.adpal-grigio:before {
    color: #333333;    /* pal: grigio */
}

.adpal-bianco,
blockquote.adpal-bianco:before {
    color: #fff; /* pal: bianco */
}

.adpal-nero,
blockquote.adpal-nero:before {
    color: #000;    /* pal: nero */
}

blockquote footer {
    text-align: right;
    padding: 0;
    color: inherit;
}

blockquote.ad-footprint-orange footer:before,
blockquote.ad-footprint-red footer:before {
    content: "\2014\20";
}

.ad-paninis {
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 1.1;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.ad-panini {
    margin-bottom: 2em;
}

.ad-panini.animated {
    -webkit-animation-duration: 3s;
    -moz-animation-duration: 3s;
    animation-duration: 3s;
}

.ad-paninis .ad-caption-name,
.ad-paninis .ad-caption-prof {
    padding: 0;
    text-align: center;
}

img.logo {
    max-width: 250px;
    margin-bottom: 20px;
}

.ad-paninis .ad-caption-name {
    margin-top: .6em;
}

.ad-paninis .ad-caption-name a {
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    text-transform: none;
    text-decoration: none;
}

.ad-paninis .ad-caption-prof {
    font-family:  "Times New Roman", serif;
}

hr {
    border-color: black;
}

section > hr {
    width: 96%;
}

header > .container-fluid {
    padding-right: initial;
    padding-left: initial;
}
/* ram  overwrite some bootstraps classes*/

.ad-form {
    font-family: "Linux Libertine", "Times New Roman", serif;
    width: 95%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
}

@media (min-width: 768px) {
    .ad-form {
        width: 100%;
    }
}

.form-control:focus {
    border-color: #f00;    /* pal: Rosso */
}

.ad-artist-photo {
    margin-bottom: 2em;
}
/* TODO use styled, make background slitly transparent, http://css-tricks.com/rgba-browser-support/ */

#language-menu {
    position: relative
}

nav.ad-language-menu {
    position: fixed;
    right: 0;
    top: 4em;
    width: 13ex;
    z-index: 11032;
}

nav.ad-language-menu ul {
    color: #fff;   /* pal: Bianco */

    text-transform: uppercase;
    list-style-type: none;
}

nav.ad-language-menu ul li:nth-child(3)
{
  background: rgb(255, 0, 0);    /* pal: Rosso */
}

nav.ad-language-menu ul li:nth-child(1)
{
  background: rgb(252, 0, 153);    /* pal: Rosa */
}

nav.ad-language-menu ul li:nth-child(2)
{
  background: rgb(255,77,51);    /* pal: Arancione */
}


nav.ad-language-menu ul li {
    padding-left: 1ex;
    width: 100%;
    font-size: 120%;
    line-height: 1.9;
    margin-left: auto;
    margin-right: 0;
    box-shadow: 3px 3px 3px grey;
    // background: rgb(255, 0, 0);    /* pal: Rosso */
}

nav.ad-language-menu ul li[lang] {
    //background: rgb(252, 0, 153);    /* pal: Rosa */
    width: 70%;
    padding-left: 0;    /* set padding-left: 1ex; back in nested <a> to make the whole area clickable */
}

nav.ad-language-menu ul li[lang]:hover,
nav.ad-language-menu ul li[lang]:active {
    width: 85%;
    -webkit-transition: width .2s ease-in-out;
    -moz-transition: width .2s ease-in-out;
    transition: width .2s ease-in-out;
}

nav.ad-language-menu ul li[lang] a {
    font-family: "Linux Libertine", "Times New Roman", serif;
    padding-left: 1ex;
    color: inherit;
    display: block;
    width: 100%
}
/* end ram */

@-webkit-keyframes pulse {
    0 {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {
    0 {
        -moz-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }
    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

header img.logo {
    margin-top: 1em;
    width: 10em;
    padding-top:120px;
}

.content-section {
    padding-top: 20px;
}

.kontakt-section h1 {
    margin-bottom: 1.2em;
}

.kontakt-section {
    width: 100%;
    padding: 15% 0;
    color: #000;    /* pal Nero */

    background: url(../img/bg/biel-bienne_bw.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

@media (max-width: 767px) {
    .kontakt-section .ad-logo-block {
        text-align: center;
    }
}

.kontakt-section img.logo {
    margin-bottom: .5em;
    width: 14ch;
}

@media(min-width:768px) {
    .content-section {
        padding-top: 50px;
        min-height: 100%;
    }
    .kontakt-section {
        padding-top: 30px;
        padding-bottom: 0;
    }
}

.btn {
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-default {
    border: 1px solid black;    /* pal: nero */
    color: white;    /* pal bianco */
    background-color: #333333;    /* pal grigio */    /* fallback */
    background-color: rgba(0, 0, 0, .5);    /* pal nero */
}

.btn-default:hover,
.btn-default:focus {
    border: 1px solid black;
    outline: 0;
    color: #333333;    /* pal grigio */
    background-color: #fff;    /* pal bianco */    /* fallback */
    background-color: rgba(255, 255, 255, .5);    /* pal bianco */
}

footer {
    padding: 1em 0;
}

footer p {
    margin: 0;
}

.html5 a {
    display: inline-block;
}

.debug {
    display: none;
}

.html5 .html5logo img {
    width: 50px;
    height: auto;
}

.html5 .css3logo {
    position: relative;
    left: -13px;
    top: 7px;
}

.html5 .css3logo img {
    width: 18px;
    height: auto;
    vertical-align: middle;
}

/* Customizations, attention some of thoses styles already defined earlyer */

#mitglieder h1 {
    margin-top: -10px;
    margin-bottom: 30px;
}

ul.nav.nav-justified {
    max-width: 700px;
    margin: 0 auto;
}

.ad-panini {
    text-align: center;
}

@media(min-width:768px) {
    .ad-panini {
        text-align: center;
        height: 300px;
    }
}

.ad-panini img {
    text-align: center;
    max-width: 80%;
}

div.skinny-text {
    margin: 0 auto;
    width: 90%;
    border: none;
}

@media(min-width:368px) {
    div.skinny-text {
        width: 80%;
    }
}

@media(min-width:768px) {
    div.skinny-text {
        width: 60%;
    }
}


/* Project section style */
.art-slider {
  font-family: 'Fira Sans', sans-serif;
  margin: 60px 0;
  max-width: 1170px;
  margin: 0 auto; }
  @media (min-width: 959px) and (max-width: 1200px) {
    .art-slider {
      width: 950px; } }
  @media (min-width: 767px) and (max-width: 959px) {
    .art-slider {
      width: 750px; } }
  @media (min-width: 0px) and (max-width: 767px) {
    .art-slider {
      width: 310px; } }
  @media (min-width: 959px) and (max-width: 1200px) {
    .art-slider {
      height: 550px;
      overflow: hidden; } }
  @media (min-width: 767px) and (max-width: 959px) {
    .art-slider {
      height: 450px;
      overflow: hidden; } }
  .art-slider .slider-inner {
    max-width: 1170px;
    margin: 0 auto;
    width: 1170px;
    margin: 0 auto; }
    @media (min-width: 959px) and (max-width: 1200px) {
      .art-slider .slider-inner {
        margin-top: 25px;
        -ms-transform: scale(0.81);
        -webkit-transform: scale(0.81);
        transform: scale(0.81);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0; } }
    @media (min-width: 767px) and (max-width: 959px) {
      .art-slider .slider-inner {
        margin-top: 25px;
        -ms-transform: scale(0.64);
        -webkit-transform: scale(0.64);
        transform: scale(0.64);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0; } }
    .art-slider .slider-inner .big-items {
      position: relative;
      width: 100%;
      min-height: 400px;
      overflow: hidden; }
      @media (min-width: 0px) and (max-width: 767px) {
        .art-slider .slider-inner .big-items {
          display: none; } }
      .art-slider .slider-inner .big-items .big-item {
        display: none;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        float: left; }
        .art-slider .slider-inner .big-items .big-item .big-item-info {
          display: block;
          position: absolute;
          top: 0px;
          left: 0px;
          width: 100%;
          height: 100%; }
          .art-slider .slider-inner .big-items .big-item .big-item-info .info-left {
            float: left;
            width: 30%;
            height: 100%;
            padding: 40px; }
            .art-slider .slider-inner .big-items .big-item .big-item-info .info-left .link {
              width: 100%;
              display: inline-block;
              color: white;
              font-size: 17px;
              text-decoration: none;
              text-transform: uppercase;
              margin: 70px 0 0 25px;
              cursor: pointer; }
              .art-slider .slider-inner .big-items .big-item .big-item-info .info-left .link:hover {
                color: #ed6939; }
              .art-slider .slider-inner .big-items .big-item .big-item-info .info-left .link .fa {
                padding-left: 10px;
                font-size: 20px; }
          .art-slider .slider-inner .big-items .big-item .big-item-info .info-right {
            position: relative;
            float: right;
            width: 60%;
            height: 100%; }
            .art-slider .slider-inner .big-items .big-item .big-item-info .info-right .big-title {
              position: absolute;
              width: 70%;
              bottom: 100%;
              font-size: 38px;
              margin-left: 30%;
              margin-top: 40px;
              color: white;
              text-transform: uppercase;
              -webkit-transition: all 0.5s ease-out;
              -moz-transition: all 0.5s ease-out;
              transition: all 0.5s ease-out; }
              .art-slider .slider-inner .big-items .big-item .big-item-info .info-right .big-title .big-title-color {
                font-weight: 700;
                font-size: 56px; }
                .art-slider .slider-inner .big-items .big-item .big-item-info .info-right .big-title .big-title-color.kunst {
                  color: #ff18a1; }
                .art-slider .slider-inner .big-items .big-item .big-item-info .info-right .big-title .big-title-color.dance {
                  color: #5af10f; }
                .art-slider .slider-inner .big-items .big-item .big-item-info .info-right .big-title .big-title-color.ensemble {
                  color: #d21685; }
                .art-slider .slider-inner .big-items .big-item .big-item-info .info-right .big-title .big-title-color.recital {
                  color: #09e3d1; }
                .art-slider .slider-inner .big-items .big-item .big-item-info .info-right .big-title .big-title-color.future {
                  color: #00b8ee; }
                .art-slider .slider-inner .big-items .big-item .big-item-info .info-right .big-title .big-title-color.total {
                  color: #f99f03; }
				  .art-slider .slider-inner .big-items .big-item .big-item-info .info-right .big-title .big-title-color.wein {
                  color: #9E1F63; }
            .art-slider .slider-inner .big-items .big-item .big-item-info .info-right .event-block {
              position: absolute;
              width: 70%;
              top: 100%;
              background-color: rgba(0, 0, 0, 0.4);
              color: white;
              margin-left: 30%;
              padding: 30px;
              -webkit-transition: all 0.5s ease-out;
              -moz-transition: all 0.5s ease-out;
              transition: all 0.5s ease-out; }
              .art-slider .slider-inner .big-items .big-item .big-item-info .info-right .event-block .event {
                font-size: 48px;
                font-weight: 100;
                line-height: 36px; }
              .art-slider .slider-inner .big-items .big-item .big-item-info .info-right .event-block .event-data {
                font-size: 30px;
                line-height: 24px;
                padding-top: 10px;
                padding-bottom: 5px; }
              .art-slider .slider-inner .big-items .big-item .big-item-info .info-right .event-block .event-place {
                font-size: 24px; }
              .art-slider .slider-inner .big-items .big-item .big-item-info .info-right .event-block .event-artists {
                border-top: 1px solid;
                margin-top: 15px;
                padding-top: 10px;
                font-size: 18px; }
                .art-slider .slider-inner .big-items .big-item .big-item-info .info-right .event-block .event-artists .event-artist b {
                  width: 43%;
                  display: block;
                  float: left; }
        .art-slider .slider-inner .big-items .big-item.active .big-item-info .info-right .big-title {
          bottom: 75%; }
        .art-slider .slider-inner .big-items .big-item.active .big-item-info .info-right .event-block {
          top: 25%; }
        .art-slider .slider-inner .big-items .big-item.big-item-1 {
          display: block; }
    .art-slider .slider-inner .prev-items {
      position: relative;
      float: left;
      width: 100%;
      margin-top: 20px;
      text-align: justify; }

    .art-slider.project2 .slider-inner .prev-items {
		text-align: center;
	}	  
      @media (min-width: 0px) and (max-width: 767px) {
        .art-slider .slider-inner .prev-items {
          text-align: center;
          width: 310px; } }
      .art-slider .slider-inner .prev-items:after {
        content: '';
        width: 100%;
        display: inline-block; }
      .art-slider .slider-inner .prev-items .prev-item {
        display: inline-block;
        cursor: pointer; }
      .art-slider.project2 .slider-inner .prev-items .prev-item {
        margin-left: 1em;
        margin-right: 1em; }		
        .art-slider .slider-inner .prev-items .prev-item.active .prev-img {
          -webkit-filter: none;
          filter: none; }
        .art-slider .slider-inner .prev-items .prev-item .prev-img {
          position: relative;
          width: 170px; }
          @media (min-width: 0px) and (max-width: 767px) {
            .art-slider .slider-inner .prev-items .prev-item .prev-img {
              width: 270px; } }
          .art-slider .slider-inner .prev-items .prev-item .prev-img:hover .prev-img-color, .art-slider .slider-inner .prev-items .prev-item .prev-img.active .prev-img-color {
            display: block; }
            @media (min-width: 0px) and (max-width: 767px) {
              .art-slider .slider-inner .prev-items .prev-item .prev-img:hover .prev-img-color, .art-slider .slider-inner .prev-items .prev-item .prev-img.active .prev-img-color {
                width: 100%;
                display: block; } }
          .art-slider .slider-inner .prev-items .prev-item .prev-img .prev-img-color {
            position: absolute;
            top: 0px;
            left: 0px;
			width:100%;
            display: none; }
            @media (min-width: 0px) and (max-width: 767px) {
              .art-slider .slider-inner .prev-items .prev-item .prev-img .prev-img-color {
                width: 100%;
                display: block; } }
		.art-slider .slider-inner .prev-items .prev-item .prev-img .prev-img-bw {
			width:100%;
            }
          @media (min-width: 0px) and (max-width: 767px) {
            .art-slider .slider-inner .prev-items .prev-item .prev-img .prev-img-bw {
              width: 100%; } }
        .art-slider .slider-inner .prev-items .prev-item .prev-title {
          display: inline-block;
          font-size: 19px;
          text-transform: uppercase;
          margin-top: 10px;
          color: black;
          text-decoration: none; }
          @media (min-width: 0px) and (max-width: 767px) {
            .art-slider .slider-inner .prev-items .prev-item .prev-title {
              display: inline-block;
              padding: 10px 0px 40px; } }
          .art-slider .slider-inner .prev-items .prev-item .prev-title .prev-title-color {
            font-weight: 700;
            font-size: 28px; }
            .art-slider .slider-inner .prev-items .prev-item .prev-title .prev-title-color.kunst {
              color: #d256fb; }
            .art-slider .slider-inner .prev-items .prev-item .prev-title .prev-title-color.dance {
              color: #5af10f; }
            .art-slider .slider-inner .prev-items .prev-item .prev-title .prev-title-color.ensemble {
              color: #ff18a1; }
            .art-slider .slider-inner .prev-items .prev-item .prev-title .prev-title-color.recital {
              color: #09e3d1; }
            .art-slider .slider-inner .prev-items .prev-item .prev-title .prev-title-color.future {
              color: #2da8df; }
            .art-slider .slider-inner .prev-items .prev-item .prev-title .prev-title-color.total {
              color: #f99f03; }
			  .art-slider .slider-inner .prev-items .prev-item .prev-title .prev-title-color.wein {
              color: #9E1F63; }
